
.movie-app> .row{
  overflow-x: auto;
    flex-wrap: nowrap;
}
.scrollA {
    position: relative;
    overflow: hidden;
  
    &.scrollA-pull {
     
    }
  
    &::-webkit-scrollbar-track {
      
      background-color: transparent;
    }
    &::-webkit-scrollbar {
     
      height: 5px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #9d9d9d;
     
      opacity: 0.5;
    }
    /* Chrome, Safari, Edge, Opera */
    &input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }